anyio==4.11.0 ; python_version >= "3.9"
anywidget==0.9.18 ; python_version >= "3.9"
asgiref==3.10.0 ; python_version >= "3.9"
asttokens==3.0.0 ; python_version >= "3.9"
click==8.1.8 ; python_version >= "3.9"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version >= "3.9"
comm==0.2.3 ; python_version >= "3.9"
contourpy==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
contourpy==1.3.3 ; python_version >= "3.11"
cycler==0.12.1 ; python_version >= "3.9"
decorator==5.2.1 ; python_version >= "3.9"
exceptiongroup==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
executing==2.2.1 ; python_version >= "3.9"
faicons==0.2.2 ; python_version >= "3.9"
fonttools==4.60.1 ; python_version >= "3.9"
h11==0.16.0 ; python_version >= "3.9" and platform_system != "Emscripten"
htmltools==0.6.0 ; python_version >= "3.9"
idna==3.11 ; python_version >= "3.9"
importlib-resources==6.5.2 ; python_version == "3.9"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11"
ipython==8.18.1 ; python_version >= "3.9" and python_version < "3.11"
ipython==9.6.0 ; python_version >= "3.11"
ipywidgets==8.1.7 ; python_version >= "3.9"
jedi==0.19.2 ; python_version >= "3.9"
jupyter-core==5.8.1 ; python_version >= "3.9" and python_version < "3.11"
jupyter-core==5.9.1 ; python_version >= "3.11"
jupyterlab-widgets==3.0.15 ; python_version >= "3.9"
kiwisolver==1.4.7 ; python_version >= "3.9" and python_version < "3.11"
kiwisolver==1.4.9 ; python_version >= "3.11"
linkify-it-py==2.0.3 ; python_version >= "3.9"
markdown-it-py==3.0.0 ; python_version >= "3.9"
matplotlib-inline==0.2.1 ; python_version >= "3.9"
matplotlib==3.10.7 ; python_version >= "3.11"
matplotlib==3.9.4 ; python_version >= "3.9" and python_version < "3.11"
mdit-py-plugins==0.4.2 ; python_version >= "3.9"
mdurl==0.1.2 ; python_version >= "3.9"
narwhals==2.10.0 ; python_version >= "3.9"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "3.11"
numpy==2.3.4 ; python_version >= "3.11"
orjson==3.11.4 ; python_version >= "3.9"
packaging==25.0 ; python_version >= "3.9"
pandas==2.3.3 ; python_version >= "3.9"
parso==0.8.5 ; python_version >= "3.9"
pexpect==4.9.0 ; (sys_platform != "win32" and sys_platform != "emscripten" or python_version < "3.11") and sys_platform != "win32" and python_version >= "3.9"
pillow==11.3.0 ; python_version >= "3.9" and python_version < "3.11"
pillow==12.0.0 ; python_version >= "3.11"
pip==25.3 ; python_version >= "3.9"
platformdirs==4.4.0 ; python_version >= "3.9"
plotly==6.3.1 ; python_version >= "3.9"
prompt-toolkit==3.0.52 ; python_version >= "3.9"
psygnal==0.14.2 ; python_version >= "3.9" and python_version < "3.11"
psygnal==0.15.0 ; python_version >= "3.11"
ptyprocess==0.7.0 ; (sys_platform != "win32" and sys_platform != "emscripten" or python_version < "3.11") and sys_platform != "win32" and python_version >= "3.9"
pure-eval==0.2.3 ; python_version >= "3.9"
pygments==2.19.2 ; python_version >= "3.9"
pyjwt==2.10.1 ; python_version >= "3.9"
pyparsing==3.2.5 ; python_version >= "3.9"
python-dateutil==2.9.0.post0 ; python_version >= "3.9"
python-multipart==0.0.20 ; python_version >= "3.9" and platform_system != "Emscripten"
pytz==2025.2 ; python_version >= "3.9"
pywin32==311 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version < "3.11" and python_version >= "3.9"
questionary==2.1.1 ; python_version >= "3.9" and platform_system != "Emscripten"
rsconnect-python==1.28.0 ; python_version >= "3.9"
seaborn==0.13.2 ; python_version >= "3.9"
semver==3.0.4 ; python_version >= "3.9"
setuptools==80.9.0 ; python_version >= "3.12"
shiny==1.5.0 ; python_version >= "3.9"
shinychat==0.2.8 ; python_version >= "3.9"
shinyswatch==0.9.0 ; python_version >= "3.9"
shinywidgets==0.7.0 ; python_version >= "3.9"
six==1.17.0 ; python_version >= "3.9"
sniffio==1.3.1 ; python_version >= "3.9"
stack-data==0.6.3 ; python_version >= "3.9"
starlette==0.49.1 ; python_version >= "3.9"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.11"
traitlets==5.14.3 ; python_version >= "3.9"
typing-extensions==4.15.0 ; python_version >= "3.9"
tzdata==2025.2 ; python_version >= "3.9"
uc-micro-py==1.0.3 ; python_version >= "3.9"
uvicorn==0.38.0 ; python_version >= "3.9" and platform_system != "Emscripten"
watchfiles==1.1.1 ; python_version >= "3.9" and platform_system != "Emscripten"
wcwidth==0.2.14 ; python_version >= "3.9"
websockets==15.0.1 ; python_version >= "3.9"
widgetsnbextension==4.0.14 ; python_version >= "3.9"
zipp==3.23.0 ; python_version == "3.9"
